*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Dongle', sans-serif;    //color: white;

}
body{
    background-color: #CEE8E2 !important;
    // background: linear-gradient(45deg,#FA5C7E,#6B81F9 )
    
}
@media screen and (max-width:992px){
    .container-fluid{
        .row{
            .col-1{
                p{
                    display: none !important;
                }
                transition: 0.2s;
                &:hover{
                   transform: scale(1.2); 
                }
                }
        }
    }
    .menu{
        width: 100%;
        background-color: #303030;
        .li{
            font-size: 30px;
            color: white;
            i{
                text-align: center;
                width: 50px;
                border: 1px solid white;
            height: 50px;
            margin-right: 20px;
            border-radius: 50%;
            display: flex !important;
            justify-content: center;
            align-items: center;
            }
            p {
                display: none;
            }
    }
        //border-radius: 10px;
        //margin: 10px auto;
    }
}
.main {
    width: 100%;
    height: 100vh;
    position: absolute;
    top:0px;
    z-index: 99999;
    background-color: #CEE8E2;
    display: flex;
    justify-content: center;
    align-items: center;
    .forma{
        min-width: 300px;
        min-height: 400px;
        box-shadow: -3px -3px 7px #ffffff,
               3px 3px 5px #ceced1;
        border-radius: 10px !important;
        form{
            margin: 0 auto;
        }
    }
  }
   


  ul {
    margin: 0;
    list-style: none;
}

.menu{
    width: 100%;
    background-color: #303030;
    .li{
        font-size: 30px;
        color: white;
        display: flex;
        i{
            display: none;
        }
        
}
    //border-radius: 10px;
    //margin: 10px auto;
}



.active{
    color: rgb(243, 101, 101) !important;
    i{
    border-color:rgb(243, 101, 101) ;
    //margin-top: -30px;
    }
}



//background:rgba(15, 15, 34, 0.705);
.container{
    border-radius: 20px;
    margin-top: 10px;
    border-radius: 20px;
    // box-shadow:0px 0px 20px 5px rgba(245, 222, 179, 0.616) ;
    .row{
        .col-1{
            transition: 0.2s;
            &:hover{
               transform: scale(1.2); 
            }
        }
    }
}
.refresh{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
    button{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        font-size: 50px;
    }
}


.cards{
    background: #CEE8E2;
    box-shadow: -3px -3px 7px #ffffff,
               3px 3px 5px #ceced1;
    border-radius: 10px;
    max-width: 300px;
    min-width: 250px;
    margin: 0 auto;
    img{
        width: 200px;
        height: 200px;
        padding: 10px;
        border-radius: 50%;
        margin: 0 auto;
        display: block; 
        //object-fit: cover;
        border: 10px solid #ceced1c5;
 box-sizing: none !important;
    }
}



.divRamazon{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.644);
    .cardRam{
        max-width:500px;
        min-height: 400px;
        background:rgb(202, 176, 176);
        border-radius: 5px;
        position: relative;
        i{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            color: black;
            background-color: rgba(255, 255, 255, 0.541);
        position: absolute;
        top: 20px;
        right: 20px;
            transition: 0.5s;
            &:hover{
                background-color: white;
            }
        }

        .imgRam{
            width: 200px;
            // eight: 200px;
            object-fit: cover;
            border-radius: 7px;
            box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;        }
        .pRam{
            max-height: 200px;
            overflow: auto;
            font-size: 16px;
            color: rgba(0, 0, 0, 0.336);
            
        }
        button{
            border: 1px solid blue;
            &:last-child{
                border: none;
            }
        }
    }


}






.white {
    border:1px solid white;
    &:hover{
        transform: none !important;
    }
}
.green {
   // background: green;
    border: 1px solid green;
h3  ,p{
    color : green !important;

}

  }
.red{
    //background: red;
    border: 1px solid red;
h3  ,p{
    color : red !important;

}
    // width: 60px;
    // height: 60px;
}
.yellow{
    //background: yellow;
    border: 1px solid yellow;
h3  ,p{
    color : yellow !important;

}
    //  width: 60px;
 //   height: 60px;
}
.blue {
//    background: blue;
    // width: 60px;
    border: 1px solid blue;
h3  ,p{
    color : blue !important;

}
    // height: 60px;
}
.sectOne{
    height: 95vh;
    background-color: #CEE8E2 !important;
}